$main-color: black;
$secondary-color: black;
$pure-white: #fff;
$light-white: rgb(234, 198, 150);
$dark: #2e2e2e;


$black-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
$brown-gradient-solid: linear-gradient(45deg, rgb(71, 48, 31), rgb(19, 14, 14));
